<div>
  <aside>
  <p style=" font-size: x-large;"> Menu </p>
  <a href="/">
    <i class="fa fa-user-o" aria-hidden="true"></i>
    Volver
  </a>
  <a href="/">
    <i class="fa fa-laptop" aria-hidden="true"></i>
    Registro Asesorias
  <a href="javascript:void(0)">
    <i class="fa fa-clone" aria-hidden="true"></i>
    Shared with me
  </a>
  <a href="javascript:void(0)">
    <i class="fa fa-star-o" aria-hidden="true"></i>
    Starred
  </a>
  <a href="javascript:void(0)">
    <i class="fa fa-trash-o" aria-hidden="true"></i>
    Trash
  </a>
</aside>
</div>

<div class="social">
  <a href="https://www.linkedin.com/in/florin-cornea-b5118057/" target="_blank">
    <i class="fa fa-linkedin"></i>
  </a>
</div>