<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>LOGIN</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="css/signin.css" rel="stylesheet" />
    <link href="css/styles.css" rel="stylesheet" />

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.all.min.js"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.min.css"
      rel="stylesheet"
    />
  </head>

  <body class="text-center">
    <div class="alert alert-info" role="alert">
      <h3>
        Bienvenido, registrate o has login para ingresar y ayudar a tu comunidad
      </h3>
    </div>

    <main class="form-signin text-center shadow-lg p-3 mb-5">
      <form id="formLogin" action="/login" method="POST">
        <img class="mb-4" src="img/logo2.jpg" alt="" width="200" height="220" />
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            id="usuario"
            name="usuario"
            placeholder="usuario"
          />
          <label for="usuario">Usuario</label>
        </div>
        <div class="form-floating">
          <input
            type="password"
            class="form-control"
            id="pass"
            name="pass"
            placeholder="Password"
          />
          <label for="pass">Password</label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">
          Login
        </button>
      </form>
      <br />
      <a href="/register" type="button" class="w-100 btn btn-lg btn-bd-primary"
        >Registrarse</a
      >
      <br />
      <br />
      <div>
        <a href="/" type="button" class="w-100 btn btn-sm btn-bd-primary"
          >Volver</a
        >
      </div>
    </main>

    <script>
      // Obtener el formulario de inicio de sesión
      const formLogin = document.getElementById("formLogin");

      // Agregar un controlador de eventos para el evento "submit" del formulario
      formLogin.addEventListener("submit", (event) => {
        // Obtener los valores de usuario y contraseña ingresados por el usuario
        const usuario = document.getElementById("usuario").value;
        const pass = document.getElementById("pass").value;

        // Verificar si los campos están vacíos
        if (!usuario || !pass) {
          // Mostrar un mensaje de alerta de SweetAlert2
          Swal.fire({
            icon: "error",
            title: "Campos incompletos",
            text: "Por favor, complete todos los campos",
          });

          // Detener la acción predeterminada del evento de envío del formulario
          event.preventDefault();
        }
      });
    </script>
  </body>
</html>
